@import 'bulma/bulma.sass';
$family-sans-serif: '"Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
